# Frontend
VITE_SITE_URL=http://localhost:10091
VITE_API_ORIGIN=http://localhost:10081
VITE_CLI_NPM_REGISTRY=https://registry.npmjs.org
VITE_CLI_PACKAGE_NAME=clawhub@latest
VITE_SOULHUB_SITE_URL=
VITE_SOULHUB_HOST=
VITE_SITE_MODE=

# Optional auth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Optional JWT
JWT_PRIVATE_KEY=
JWKS=

# Embeddings
OPENAI_API_KEY=
